[submodule "Fermion/external/spdlog"]
	path = Fermion/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Fermion/external/entt"]
	path = Fermion/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "Fermion/external/glm"]
	path = Fermion/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Fermion/external/imgui"]
	path = Fermion/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Fermion/external/GLFW"]
	path = Fermion/external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Fermion/external/yaml-cpp"]
	path = Fermion/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Fermion/external/ImGuizmo"]
	path = Fermion/external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Fermion/external/box2d"]
	path = Fermion/external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Fermion/external/msdf-atlas-gen"]
	path = Fermion/external/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "Fermion/external/freetype"]
	path = Fermion/external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Fermion/external/assimp"]
	path = Fermion/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Fermion/external/JoltPhysics"]
	path = Fermion/external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Fermion/external/ImguiNodeEditor"]
	path = Fermion/external/ImguiNodeEditor
	url = https://github.com/thedmd/imgui-node-editor.git
	branch = develop
